* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Assets/Img/Estructura/Amuletos_fondo_opaci-50%.jpeg);
    background-repeat: repeat;
    background-size: 25%;
    font-family: 'EB Garamond', serif;
}

#nav {
    background-color: rgba(178, 132, 215, 0.949);
}

#color_dropdown {
    background-color: rgba(66, 192, 160, 0.926);
}

#Acordion {
    font-size: 1.4rem;
    background-color: rgb(66, 192, 161) ;
}

.links {
    text-decoration: none;
    color: black;
}

.carousel-control-prev,
.carousel-control-next, 
.carousel-indicators  {
    display: none;
}

#separador {
    height: 45px;
}


body footer {
    background-color: rgba(66, 192, 160, 0.926);
}